<mat-toolbar color="primary" class="navbar">
  <a [routerLink]="['/']"> <span>{{appTitle}}</span></a>
  <div>
    <a [routerLink]="['/']">
      <button  mat-button class="menu-item" aria-label="Editor">
        <mat-icon>text_fields</mat-icon>
        <span>Editor</span>
      </button>
    </a>
    <a [routerLink]="['/preview']">
      <button  mat-button class="menu-item" aria-label="Preview">
        <mat-icon>slideshow</mat-icon>
        <span>Preview</span>
      </button>
    </a>
  </div>
</mat-toolbar>


